Client/InsurranceWSClient/xml-resources/web-service-references/insurranceWebService/wsdl/localhost_8080/insurranceWebService/insurranceWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.comem.ch/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.comem.ch/" name="insurranceWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.comem.ch/" schemaLocation="http://localhost:8080/insurranceWebService/insurranceWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createClient">
<part name="parameters" element="tns:createClient"/>
</message>
<message name="createClientResponse">
<part name="parameters" element="tns:createClientResponse"/>
</message>
<message name="readClient">
<part name="parameters" element="tns:readClient"/>
</message>
<message name="readClientResponse">
<part name="parameters" element="tns:readClientResponse"/>
</message>
<message name="readAllClients">
<part name="parameters" element="tns:readAllClients"/>
</message>
<message name="readAllClientsResponse">
<part name="parameters" element="tns:readAllClientsResponse"/>
</message>
<message name="deleteClient">
<part name="parameters" element="tns:deleteClient"/>
</message>
<message name="deleteClientResponse">
<part name="parameters" element="tns:deleteClientResponse"/>
</message>
<message name="readAllCars">
<part name="parameters" element="tns:readAllCars"/>
</message>
<message name="readAllCarsResponse">
<part name="parameters" element="tns:readAllCarsResponse"/>
</message>
<message name="createCar">
<part name="parameters" element="tns:createCar"/>
</message>
<message name="createCarResponse">
<part name="parameters" element="tns:createCarResponse"/>
</message>
<message name="readCar">
<part name="parameters" element="tns:readCar"/>
</message>
<message name="readCarResponse">
<part name="parameters" element="tns:readCarResponse"/>
</message>
<message name="deleteCar">
<part name="parameters" element="tns:deleteCar"/>
</message>
<message name="deleteCarResponse">
<part name="parameters" element="tns:deleteCarResponse"/>
</message>
<message name="createCertificate">
<part name="parameters" element="tns:createCertificate"/>
</message>
<message name="createCertificateResponse">
<part name="parameters" element="tns:createCertificateResponse"/>
</message>
<message name="readAllCertificates">
<part name="parameters" element="tns:readAllCertificates"/>
</message>
<message name="readAllCertificatesResponse">
<part name="parameters" element="tns:readAllCertificatesResponse"/>
</message>
<message name="readCertificate">
<part name="parameters" element="tns:readCertificate"/>
</message>
<message name="readCertificateResponse">
<part name="parameters" element="tns:readCertificateResponse"/>
</message>
<message name="updateCertificateStatus">
<part name="parameters" element="tns:updateCertificateStatus"/>
</message>
<message name="updateCertificateStatusResponse">
<part name="parameters" element="tns:updateCertificateStatusResponse"/>
</message>
<message name="createWorker">
<part name="parameters" element="tns:createWorker"/>
</message>
<message name="createWorkerResponse">
<part name="parameters" element="tns:createWorkerResponse"/>
</message>
<message name="updateCertificateWorker">
<part name="parameters" element="tns:updateCertificateWorker"/>
</message>
<message name="updateCertificateWorkerResponse">
<part name="parameters" element="tns:updateCertificateWorkerResponse"/>
</message>
<message name="readAllWorkers">
<part name="parameters" element="tns:readAllWorkers"/>
</message>
<message name="readAllWorkersResponse">
<part name="parameters" element="tns:readAllWorkersResponse"/>
</message>
<message name="readWorker">
<part name="parameters" element="tns:readWorker"/>
</message>
<message name="readWorkerResponse">
<part name="parameters" element="tns:readWorkerResponse"/>
</message>
<portType name="insurranceWebService">
<operation name="createClient">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/createClientRequest" message="tns:createClient"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/createClientResponse" message="tns:createClientResponse"/>
</operation>
<operation name="readClient">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/readClientRequest" message="tns:readClient"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/readClientResponse" message="tns:readClientResponse"/>
</operation>
<operation name="readAllClients">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/readAllClientsRequest" message="tns:readAllClients"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/readAllClientsResponse" message="tns:readAllClientsResponse"/>
</operation>
<operation name="deleteClient">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/deleteClientRequest" message="tns:deleteClient"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/deleteClientResponse" message="tns:deleteClientResponse"/>
</operation>
<operation name="readAllCars">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/readAllCarsRequest" message="tns:readAllCars"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/readAllCarsResponse" message="tns:readAllCarsResponse"/>
</operation>
<operation name="createCar">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/createCarRequest" message="tns:createCar"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/createCarResponse" message="tns:createCarResponse"/>
</operation>
<operation name="readCar">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/readCarRequest" message="tns:readCar"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/readCarResponse" message="tns:readCarResponse"/>
</operation>
<operation name="deleteCar">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/deleteCarRequest" message="tns:deleteCar"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/deleteCarResponse" message="tns:deleteCarResponse"/>
</operation>
<operation name="createCertificate">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/createCertificateRequest" message="tns:createCertificate"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/createCertificateResponse" message="tns:createCertificateResponse"/>
</operation>
<operation name="readAllCertificates">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/readAllCertificatesRequest" message="tns:readAllCertificates"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/readAllCertificatesResponse" message="tns:readAllCertificatesResponse"/>
</operation>
<operation name="readCertificate">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/readCertificateRequest" message="tns:readCertificate"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/readCertificateResponse" message="tns:readCertificateResponse"/>
</operation>
<operation name="updateCertificateStatus">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/updateCertificateStatusRequest" message="tns:updateCertificateStatus"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/updateCertificateStatusResponse" message="tns:updateCertificateStatusResponse"/>
</operation>
<operation name="createWorker">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/createWorkerRequest" message="tns:createWorker"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/createWorkerResponse" message="tns:createWorkerResponse"/>
</operation>
<operation name="updateCertificateWorker">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/updateCertificateWorkerRequest" message="tns:updateCertificateWorker"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/updateCertificateWorkerResponse" message="tns:updateCertificateWorkerResponse"/>
</operation>
<operation name="readAllWorkers">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/readAllWorkersRequest" message="tns:readAllWorkers"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/readAllWorkersResponse" message="tns:readAllWorkersResponse"/>
</operation>
<operation name="readWorker">
<input wsam:Action="http://ws.comem.ch/insurranceWebService/readWorkerRequest" message="tns:readWorker"/>
<output wsam:Action="http://ws.comem.ch/insurranceWebService/readWorkerResponse" message="tns:readWorkerResponse"/>
</operation>
</portType>
<binding name="insurranceWebServicePortBinding" type="tns:insurranceWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllCertificates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCertificateStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createWorker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCertificateWorker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllWorkers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readWorker">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="insurranceWebService">
<port name="insurranceWebServicePort" binding="tns:insurranceWebServicePortBinding">
<soap:address location="http://localhost:8080/insurranceWebService/insurranceWebService"/>
</port>
</service>
</definitions>