workspace/ProjetAttestationVhc/lib_ws/client/wsClient_14C7964A6C3D0273.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.comem.ch/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.comem.ch/" name="scaWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.comem.ch/" schemaLocation="http://localhost:8080/scaWebService/scaWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="readClient">
<part name="parameters" element="tns:readClient"/>
</message>
<message name="readClientResponse">
<part name="parameters" element="tns:readClientResponse"/>
</message>
<message name="deleteClient">
<part name="parameters" element="tns:deleteClient"/>
</message>
<message name="deleteClientResponse">
<part name="parameters" element="tns:deleteClientResponse"/>
</message>
<message name="readAllCars">
<part name="parameters" element="tns:readAllCars"/>
</message>
<message name="readAllCarsResponse">
<part name="parameters" element="tns:readAllCarsResponse"/>
</message>
<message name="createCar">
<part name="parameters" element="tns:createCar"/>
</message>
<message name="createCarResponse">
<part name="parameters" element="tns:createCarResponse"/>
</message>
<message name="readCar">
<part name="parameters" element="tns:readCar"/>
</message>
<message name="readCarResponse">
<part name="parameters" element="tns:readCarResponse"/>
</message>
<message name="deleteCar">
<part name="parameters" element="tns:deleteCar"/>
</message>
<message name="deleteCarResponse">
<part name="parameters" element="tns:deleteCarResponse"/>
</message>
<message name="readCertificate">
<part name="parameters" element="tns:readCertificate"/>
</message>
<message name="readCertificateResponse">
<part name="parameters" element="tns:readCertificateResponse"/>
</message>
<message name="updateCertificateStatus">
<part name="parameters" element="tns:updateCertificateStatus"/>
</message>
<message name="updateCertificateStatusResponse">
<part name="parameters" element="tns:updateCertificateStatusResponse"/>
</message>
<message name="updateRegistration">
<part name="parameters" element="tns:updateRegistration"/>
</message>
<message name="updateRegistrationResponse">
<part name="parameters" element="tns:updateRegistrationResponse"/>
</message>
<message name="readAllCertificates">
<part name="parameters" element="tns:readAllCertificates"/>
</message>
<message name="readAllCertificatesResponse">
<part name="parameters" element="tns:readAllCertificatesResponse"/>
</message>
<message name="createCertificate">
<part name="parameters" element="tns:createCertificate"/>
</message>
<message name="createCertificateResponse">
<part name="parameters" element="tns:createCertificateResponse"/>
</message>
<message name="readAllClients">
<part name="parameters" element="tns:readAllClients"/>
</message>
<message name="readAllClientsResponse">
<part name="parameters" element="tns:readAllClientsResponse"/>
</message>
<message name="createClient">
<part name="parameters" element="tns:createClient"/>
</message>
<message name="createClientResponse">
<part name="parameters" element="tns:createClientResponse"/>
</message>
<portType name="scaWebService">
<operation name="readClient">
<input wsam:Action="http://ws.comem.ch/scaWebService/readClientRequest" message="tns:readClient"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/readClientResponse" message="tns:readClientResponse"/>
</operation>
<operation name="deleteClient">
<input wsam:Action="http://ws.comem.ch/scaWebService/deleteClientRequest" message="tns:deleteClient"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/deleteClientResponse" message="tns:deleteClientResponse"/>
</operation>
<operation name="readAllCars">
<input wsam:Action="http://ws.comem.ch/scaWebService/readAllCarsRequest" message="tns:readAllCars"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/readAllCarsResponse" message="tns:readAllCarsResponse"/>
</operation>
<operation name="createCar">
<input wsam:Action="http://ws.comem.ch/scaWebService/createCarRequest" message="tns:createCar"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/createCarResponse" message="tns:createCarResponse"/>
</operation>
<operation name="readCar">
<input wsam:Action="http://ws.comem.ch/scaWebService/readCarRequest" message="tns:readCar"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/readCarResponse" message="tns:readCarResponse"/>
</operation>
<operation name="deleteCar">
<input wsam:Action="http://ws.comem.ch/scaWebService/deleteCarRequest" message="tns:deleteCar"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/deleteCarResponse" message="tns:deleteCarResponse"/>
</operation>
<operation name="readCertificate">
<input wsam:Action="http://ws.comem.ch/scaWebService/readCertificateRequest" message="tns:readCertificate"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/readCertificateResponse" message="tns:readCertificateResponse"/>
</operation>
<operation name="updateCertificateStatus">
<input wsam:Action="http://ws.comem.ch/scaWebService/updateCertificateStatusRequest" message="tns:updateCertificateStatus"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/updateCertificateStatusResponse" message="tns:updateCertificateStatusResponse"/>
</operation>
<operation name="updateRegistration">
<input wsam:Action="http://ws.comem.ch/scaWebService/updateRegistrationRequest" message="tns:updateRegistration"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/updateRegistrationResponse" message="tns:updateRegistrationResponse"/>
</operation>
<operation name="readAllCertificates">
<input wsam:Action="http://ws.comem.ch/scaWebService/readAllCertificatesRequest" message="tns:readAllCertificates"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/readAllCertificatesResponse" message="tns:readAllCertificatesResponse"/>
</operation>
<operation name="createCertificate">
<input wsam:Action="http://ws.comem.ch/scaWebService/createCertificateRequest" message="tns:createCertificate"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/createCertificateResponse" message="tns:createCertificateResponse"/>
</operation>
<operation name="readAllClients">
<input wsam:Action="http://ws.comem.ch/scaWebService/readAllClientsRequest" message="tns:readAllClients"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/readAllClientsResponse" message="tns:readAllClientsResponse"/>
</operation>
<operation name="createClient">
<input wsam:Action="http://ws.comem.ch/scaWebService/createClientRequest" message="tns:createClient"/>
<output wsam:Action="http://ws.comem.ch/scaWebService/createClientResponse" message="tns:createClientResponse"/>
</operation>
</portType>
<binding name="scaWebServicePortBinding" type="tns:scaWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCertificateStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllCertificates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCertificate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readAllClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="scaWebService">
<port name="scaWebServicePort" binding="tns:scaWebServicePortBinding">
<soap:address location="http://localhost:8080/scaWebService/scaWebService"/>
</port>
</service>
</definitions>
