workspace/ProjetTest/lib_ws/client/wsClient_14C69EDF14641525.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.comem.ch/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.comem.ch/" name="BoatWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.comem.ch/" schemaLocation="http://localhost:8080/BoatWS/BoatWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createBoat">
<part name="parameters" element="tns:createBoat"/>
</message>
<message name="createBoatResponse">
<part name="parameters" element="tns:createBoatResponse"/>
</message>
<message name="deleteBoat">
<part name="parameters" element="tns:deleteBoat"/>
</message>
<message name="deleteBoatResponse">
<part name="parameters" element="tns:deleteBoatResponse"/>
</message>
<message name="createKit">
<part name="parameters" element="tns:createKit"/>
</message>
<message name="createKitResponse">
<part name="parameters" element="tns:createKitResponse"/>
</message>
<message name="deleteKit">
<part name="parameters" element="tns:deleteKit"/>
</message>
<message name="deleteKitResponse">
<part name="parameters" element="tns:deleteKitResponse"/>
</message>
<message name="attributeKitToBoat">
<part name="parameters" element="tns:attributeKitToBoat"/>
</message>
<message name="attributeKitToBoatResponse">
<part name="parameters" element="tns:attributeKitToBoatResponse"/>
</message>
<message name="removeKitFromBoat">
<part name="parameters" element="tns:removeKitFromBoat"/>
</message>
<message name="removeKitFromBoatResponse">
<part name="parameters" element="tns:removeKitFromBoatResponse"/>
</message>
<message name="readBoatsHavingKits">
<part name="parameters" element="tns:readBoatsHavingKits"/>
</message>
<message name="readBoatsHavingKitsResponse">
<part name="parameters" element="tns:readBoatsHavingKitsResponse"/>
</message>
<portType name="BoatWS">
<operation name="createBoat">
<input wsam:Action="http://ws.comem.ch/BoatWS/createBoatRequest" message="tns:createBoat"/>
<output wsam:Action="http://ws.comem.ch/BoatWS/createBoatResponse" message="tns:createBoatResponse"/>
</operation>
<operation name="deleteBoat">
<input wsam:Action="http://ws.comem.ch/BoatWS/deleteBoatRequest" message="tns:deleteBoat"/>
<output wsam:Action="http://ws.comem.ch/BoatWS/deleteBoatResponse" message="tns:deleteBoatResponse"/>
</operation>
<operation name="createKit">
<input wsam:Action="http://ws.comem.ch/BoatWS/createKitRequest" message="tns:createKit"/>
<output wsam:Action="http://ws.comem.ch/BoatWS/createKitResponse" message="tns:createKitResponse"/>
</operation>
<operation name="deleteKit">
<input wsam:Action="http://ws.comem.ch/BoatWS/deleteKitRequest" message="tns:deleteKit"/>
<output wsam:Action="http://ws.comem.ch/BoatWS/deleteKitResponse" message="tns:deleteKitResponse"/>
</operation>
<operation name="attributeKitToBoat">
<input wsam:Action="http://ws.comem.ch/BoatWS/attributeKitToBoatRequest" message="tns:attributeKitToBoat"/>
<output wsam:Action="http://ws.comem.ch/BoatWS/attributeKitToBoatResponse" message="tns:attributeKitToBoatResponse"/>
</operation>
<operation name="removeKitFromBoat">
<input wsam:Action="http://ws.comem.ch/BoatWS/removeKitFromBoatRequest" message="tns:removeKitFromBoat"/>
<output wsam:Action="http://ws.comem.ch/BoatWS/removeKitFromBoatResponse" message="tns:removeKitFromBoatResponse"/>
</operation>
<operation name="readBoatsHavingKits">
<input wsam:Action="http://ws.comem.ch/BoatWS/readBoatsHavingKitsRequest" message="tns:readBoatsHavingKits"/>
<output wsam:Action="http://ws.comem.ch/BoatWS/readBoatsHavingKitsResponse" message="tns:readBoatsHavingKitsResponse"/>
</operation>
</portType>
<binding name="BoatWSPortBinding" type="tns:BoatWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createBoat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBoat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createKit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteKit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="attributeKitToBoat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeKitFromBoat">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readBoatsHavingKits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BoatWS">
<port name="BoatWSPort" binding="tns:BoatWSPortBinding">
<soap:address location="http://localhost:8080/BoatWS/BoatWS"/>
</port>
</service>
</definitions>
